{% import "system/macro/navigation/breadcrumb.html.twig" as breadcrumb %}
{{ breadcrumb.component({items: [localized.breadcrumb.module]}, localized) }}

{{ messages() | raw }}

<!-- Consent Chart -->
<div class="bc-w-full">
    {% include "dashboard/partials/consent-chart.html.twig" %}
</div>

<div class="md:bc-flex md:bc-space-x-4 bc-mb-3">
    <div class="bc-w-full md:bc-w-7/12">
        <!-- News -->
        {% include "dashboard/partials/news.html.twig" %}
        <!-- Setup Assistant -->
        {% include "dashboard/partials/setup-assistant.html.twig" %}
        <!-- Contributors -->
        {% include "dashboard/partials/contributors.html.twig" %}
        <!-- Acknowledgement -->
        {% include "dashboard/partials/acknowledgement.html.twig" %}
        <!-- Telemetry -->
        <hr>
        {% include "dashboard/partials/telemetry.html.twig" %}
    </div>
    <div class="bc-w-full md:bc-w-5/12">
        {{ template.systemCheck | raw }}
    </div>
</div>
