<div class="bc-w-2/3">
    {% embed "system/embed/card/card-with-title.html.twig" with {contentSpacing: false} %}
        {% import "system/macro/card/card-heading.html.twig" as card_heading %}
        {% block header %}
            {{ card_heading.component({
                title: localized.headline.a11ySettings,
            }) }}
        {% endblock %}
        {% block content %}
            {% import "system/macro/row/switch-button.html.twig" as row_switch_button %}
            {% import "system/macro/row/save.html.twig" as row_save %}
            {{ row_switch_button.component({
                hint: localized.hint.useBaseFontSizeForDescriptions,
                id: 'useBaseFontSizeForDescriptions',
                label: localized.field.useBaseFontSizeForDescriptions,
                value: data.useBaseFontSizeForDescriptions,
            }) }}

            {{ row_save.component({}, localized) }}
        {% endblock %}
    {% endembed %}
</div>
