<div class="bc-hidden" data-brlbs-setup-flow="finalize-setup">
    <div class="bc-opacity-0" data-brlbs-animate="brlbs-animate-slide-in-down">
        <div class="bc-rounded-md bc-bg-white bc-shadow bc-mb-6">
            <div class="bc-p-5 bc-text-center">
                <img class="bc-animate-[spin_2s_linear_infinite] bc-w-8 bc-h-8 bc-m-auto" src="{{ imageUrl('borlabs-cookie-icon-black.svg') }}" alt="">
            </div>

            <p class="bc-text-center bc-text-xs bc-x-5 bc-pb-5">{{ localized.text.setupIsCompleting | raw }}</p>
        </div>
    </div>
</div>
